/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23 févr. 2022, 11:58:44
    Author     : FLAM
*/
.labelform{
    -fx-font-weight: bold;
    -fx-background-color: #ffc300;
}
 
.box{
    -fx-font-weight: bold;
}
 
.field{
    -fx-font-weight: bold;
}
.btn{
    -fx-font-weight: bold;
}
